# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Flask instance folder
instance/
*.db
*.sqlite3

# Environment variables
.env
*.env

# Logs and local files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Model and scaler files
model.pkl
minmaxscaler.pkl

# Pip dependency files
pip-log.txt

# Build artifacts
build/
dist/
*.egg-info/